<a href="https://colab.research.google.com/github/mehdi12358/GoMyCode/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_set={0,1,2,3,4}
my_set.add(5)
print(my_set)
my_set={0,1,2,3,4,5}
my_set.remove(5)
print(my_set)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4}

In [ ]:
def my_function(num=50):
  print("i am from"+num)
my_function (10)
my_function(5)

TypeError: ignored

In [ ]:
sum= lambda a,b:a*b
print(sum(5,10))

50

In [ ]:
year= lambda ch:ch[:4]
ch="2008945"
print(year(ch))

2008

In [ ]:
def myfunc(a,b):
  return a+b
result=list(map(myfunc,(1,2,3),(3,2,1)))
result

[4, 4, 4]

In [ ]:
def myfunc(a):
  return len(a)
fruit=('apple','banana','cherry')
result=map(myfunc,fruit)


print(list(result))

[5, 6, 6]