<a href="https://colab.research.google.com/github/mehdi12358/GoMyCode/blob/main/untitled1_ipyn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_set={0,1,2,3,4}
my_set.add(5)
print(my_set)
my_set={0,1,2,3,4,5}
my_set.remove(5)
print(my_set)

{0, 1, 2, 3, 4, 5}
{0, 1, 2, 3, 4}

In [ ]:
employee1=["mehdi",25,"captain",2245]
employee2=["zied",23,"chief medical officer",2266]
employee3=["adem",20,"science officer",2287]
print(employee1)

['mehdi', 25, 'captain', 2245]

In [ ]:
 class point3D:
  def _init_(self,x,y,z):
    self.x=x
    self.y=y
    self.z=z
  def repr(self):
    return (self,x,y,z)

In [ ]:
class car:
  def_init_(self,color,top_speed)
     self.color= color
     self.top_speed= top_speed
  def showtopspeed(self):
    print("top speed")
    print("self.top speed KMH")
    MPH= self.KMH to mph(self.top speed)
  def showcolor(self):
    print("color")
    print(self.color)
  def kmhtomph(kmh):
    return KMH * 200
  def updatespeed(self, new_speed)
     self.top_speed= new_speed
  def updatecolor(self,new_color)
      self.color=new_color

my_car=car("red",200)
my_car.showtopspeed()
my_car.showcolor()

my_car.updatespeed(300)
my_car.updatecolor("blue")

IndentationError: ignored

In [ ]:
x=int(input("x= "))
y=int(input("y= "))
s= x+y
print("s",s)
if s%2==0:
  print("pair")
else:
  print("impair")
  s=s+1
print("s=",s)

x= 5
y= 3
pair
s= 8

In [ ]:
x=int(input("x= "))
p=1
for i in range(1,x+1):
  p=p*i
print("p= ",p)

x= 5
p=  120

In [ ]:

def my_function(num=50):
  print("i am from"+num)
my_function (10)
my_function(5)

TypeError: ignored

In [ ]:
sum= lambda a,b:a*b
print(sum(5,10))

50

In [ ]:
year= lambda ch:ch[:4]
ch="2008945"
print(year(ch))

2008

In [ ]:
def myfunc(a,b):
  return a+b
result=list(map(myfunc,(1,2,3),(3,2,1)))
result

[4, 4, 4]

In [ ]:
def myfunc(a):
  return len(a)
fruit=('apple','banana','cherry')
result=map(myfunc,fruit)


print(list(result))

[5, 6, 6]